---
layout: page
type: article
---

{%- include snippets/assign.html
  target = site.data.variables.default.page.sharing
  source0=layout.sharing source1=page.sharing -%}
{%- assign _sharing = __return -%}

<div class="layout--article">
  {%- include article/top/custom.html -%}

  <div class="article__content" itemprop="articleBody">{{ content }}</div>

  {%- if _sharing -%}
    <section class="article__sharing d-print-none">{%- include sharing.html -%}</section>
  {%- endif -%}
  
  
  <!-- Gitalk start -->
<div id="gitalk-container"></div> <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
<script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script> 
<script>
    var gitalk  = new Gitalk ({
        id: window.location.pathname,   // Ensure uniqueness and length less than 50
        clientID: '494446746afe09c2340b',
        clientSecret: '2f92e516c748a277807d18137cc122d13175211a',
        repo: 'jjzhou012.github.io',
        owner: 'jjzhou012',
        admin: ['jjzhou012'],
		id: location.pathname.substr(0, 50);
		distractionFreeMode: false  // Facebook-like distraction free mode
    })
    gitalk.render('gitalk-container')
</script> 
<!-- Gitalk end -->
  
  
  

  <div class="d-print-none">
    {%- include article-footer.html -%}
    {%- include article-section-navigator.html -%}
  </div>

</div>

<script>
  {%- include scripts/article.js -%}
</script>